@import './resets';

.sr-only {
	display: none !important;
}

.overflow-hidden {
	overflow: hidden;
}

.position-relative {
	position: relative;
}

.desktop-none {
	 @media (min-width: $size-desktop) {
		display: none;
	}
}
