.icon-whatsapp {
	display: inline-block;
	width: 16px;
	height: 16px;
	background-color: #049cb5;
	-webkit-mask-image: url('../img/icons/whatsapp.svg');
	-webkit-mask-repeat: no-repeat;
	-webkit-mask-size: contain;
	mask-image: url('../img/icons/whatsapp.svg');
	mask-repeat: no-repeat;
	mask-size: contain;
}

.icon-instagram {
	display: inline-block;
	width: 16px;
	height: 16px;
	background-color: #049cb5;
	-webkit-mask-image: url('../img/icons/instagram.svg');
	-webkit-mask-repeat: no-repeat;
	-webkit-mask-size: contain;
	mask-image: url('../img/icons/instagram.svg');
	mask-repeat: no-repeat;
	mask-size: contain;
}

.icon-internet {
	display: inline-block;
	width: 16px;
	height: 16px;
	background-image: url('../img/icons/local-na-rede-internet.png');
	background-repeat: no-repeat;
	background-size: contain;
}
